body {
  color : red;
  background-color: beige;
  color:blue   ; font-size:14px;
}

.carre {
  length : 100 px;
  height : 100 px;
  color : black ;

}
.carrea {
  length : 150 px;
  left : 30 px;
  height : 100 px;
  color : black ;
}





